.sp-delivery {
  background-image: url("delivery.png");
}
.sp-delivery-address_36 {
  background-position: -0px -0px;
  width: 44px;
  height: 44px;
}
.sp-delivery-mobile_36 {
  background-position: -0px -44px;
  width: 44px;
  height: 44px;
}
.sp-delivery-taketime_36 {
  background-position: -0px -88px;
  width: 44px;
  height: 44px;
}
.sp-delivery-user_36 {
  background-position: -0px -132px;
  width: 44px;
  height: 44px;
}